<div class="container">
    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Traços
            </ng-template>
            <span>
                Cada personagem tem 3 traços para serem definidos na criação:
                <ul>
                    <li>Identidade</li>
                    <li>Tema</li>
                    <li>Origem</li>
                </ul>
            </span> 
        </p-panel>
    </div>

    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Identidade
            </ng-template>
            <span>
                Uma frase ou idéia que represente o conceito geral do personagem. Exemplos:
                <ul>
                    <li>Pirata dos céus</li>
                    <li>Cavaleiro amargurado</li>
                    <li>Inventor iniciante</li>
                    <li>Samurai sem mestre</li>
                </ul>
            </span> 
        </p-panel>
    </div>

    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Tema
            </ng-template>
            <span>
                O tema é uma ambição, ideal ou valor que move seu personagem. Exemplos:
                <ul>
                    <li>Vingança</li>
                    <li>Justiça</li>
                    <li>Estudo</li>
                    <li>Aventura</li>
                </ul>
            </span> 
        </p-panel>
    </div>

    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Origem
            </ng-template>
            <span>
                O lugar de onde seu personagem veio - a terra natal.
            </span> 
        </p-panel>
    </div>

    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Laços
            </ng-template>
            <span>
                Os laços são conexões do seu personagem com outras pessoas ou com o mundo.
                <br>
                Eles variam entre 3 espectros de emoção:
                <ul>
                    <li>Admiração ou inferioridade</li>
                    <li>Lealdade ou desconfiança</li>
                    <li>Afeição ou ódio</li>
                </ul>
                O poder do laço varia de acordo com os pontos que você tem nele. Exemplo:
                <br>
                Lorde Comrad
                <ul>
                    <li>Admiração +1</li>
                    <li>Lealdade +1</li>
                    <li>Afeição ou ódio 0</li>
                </ul>
                A força desse laço é 2.
            </span> 
        </p-panel>
    </div>

    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Invocar laços e traços
            </ng-template>
            <span>
                Você pode gastar 1 Fabula Point para invocar um laço ou um traço e ganhar os efeitos:
                <ul>
                    <li>Ao invocar um traço, escolha 1 ou 2 dados para rolar novamente.</li>
                    <li>Ao invocar um laço, adicione a força do laço como modificador na rolagem.</li>
                </ul>
            </span> 
        </p-panel>
    </div>
</div>