
<div class="container">
    <p-card header="Sábio" subheader="Arquivista / Estudioso" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/classes/scholar.jpg">
        </ng-template>
        
        <p>
            Sábios são conhecidos por sua curiosidade inata e apetite pela descoberta. Eles acreditam firmemente
            que conhecimento se iguala a poder bruto e estão dispostos à ir além das fronteiras do mundo para alcançar seus objetivos.
        </p>
        <ng-template pTemplate="footer">
            Habilidade automática: Aumente seu MP em 5 pontos permanentemente.
        </ng-template>
    </p-card>
    <br>
    <p-card header="Eureka! [^3]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Se você rolar 13 ou mais num teste para investigar alguma coisa - e isso inclui a ação de estudar - você pode
            perguntar ao mestre até [ NH ] questões sobre o assunto. Essas perguntas podem ser guardadas para outro momento.
        </p>
    </p-card>
    <br>
    <p-card header="Foco absoluto [^5]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Você permanentemente aumenta seu MP em [ NH ] X 3. Quando fizer um teste usando [INT + INT],
            adicione um bônus igual à [ NH ].
        </p>
    </p-card>
    <br>
    <p-card header="Conhecimento é poder" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Sempre que fizer um teste de acerto, você pode substituir um dos atributos por [INT].
        </p>
    </p-card>
    <br>
    <p-card header="Conhecimento prévio [^6]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            No início de um conflito, você pode gastar [ NH ] X 5 MP. Para cada 5 MP que gastar assim,
            escolha 1:
        </p>
        <ul>
            <li>Escolha 1 criatura que pode ver, e o mestre revela 1 Traço daquela criatura.</li>
            <li>Escolha 1 tipo de dano e uma 1 criatura: O mestre revela se ela é resistente ou fraca ao tipo de dano.</li>
        </ul>
    </p-card>
    <br>
    <p-card header="Memória treinada" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Você lembra de tudo com exatidão. Você pode visitar cenas novamente, se elas tiverem acontecido na última semana,
            e investigá-las novamente. A habilidade [EUREKA!] pode ser usada aqui.
        </p>
    </p-card>
</div>