<div class="container">
    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Stats e atributos 
            </ng-template>
            <span>
                Cada personagem tem 4 atributos principais:
                <ul>
                    <li>Força: Determina a força física, resiliência, vigor do personagem.</li>
                    <li>Destreza: A precisão, agilidade, reflexões e coordenação do personagem.</li>
                    <li>Intelecto: Observação, inteligência, raciocínio do personagem.</li>
                    <li>Vontade: A determinação, carisma e capacidade de influenciar outras criaturas.</li>
                </ul>
                <br>
                Os atributos são medidos com dados que variam entre d6 e d12. 
                <br>
                Quando fizer um teste daquele atributo, role o dado respectivo.
            </span> 
        </p-panel>
    </div>
    
    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Atributos iniciais 
            </ng-template>
            <span>
                Quando criar seu personagem, escolha um dos 4 templates abaixo:
                <ul>
                    <li>Pau pra toda obra: d8, d8, d8, d8</li>
                    <li>Generalista: d10, d8, d8, d6</li>
                    <li>Especializado: d10, d10, d6, d6</li>
                </ul>
            </span> 
        </p-panel>
    </div>
    
    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Melhorando atributos 
            </ng-template>
            <span>
                Seus atributos podem ser melhorados temporariamente de acordo com a situação e habilidades usadas.
                <br>
                Melhorias permanentes nos atributos serão alcançadas de acordo com o nível do personagem.
            </span> 
        </p-panel>
    </div>
</div>