
<div class="container">
    <p-card header="Bardo" subheader="Artista / Menestrel" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/classes/bard.jpg">
        </ng-template>
        
        <p>
            Alguns são graciosos e sorridentes - outros são compenetrados e persuasivos. Bardos e Artistas
            são especialistas em usar sua arte para ganhar o coração das pessoas - suas obras são capazes de 
            transformar aqueles que os cercam.
        </p>
        <ng-template pTemplate="footer">
            Habilidade automática: Aumente seu MP em 5 pontos permanentemente.
        </ng-template>
    </p-card>
    <br>
    <p-card header="Condenar [^4]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
           Você pode usar uma ação e 5 MP para fazer um teste oposto à uma criatura que pode te ouvir e entender.
           Descreva suas acusações, e se vencer o teste o alvo perde [ NH ] X 10 MP e sofre abalado ou confuso.
           <br>
           Você ganha um bônus de [ NH ] no teste, que deve user [INT + VONT].
        </p>
    </p-card>
    <br>
    <p-card header="Encorajar [^6]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Durante um conflito, você pode usar uma ação e 5 MP para recuperar [ NH ] X 5
            HP de uma criatura que pode te ouvir e compreender.
            <br>
            Escolha um atributo: aquela criatura também considera aquele atributo como sendo 1 dado maior,
            até o início do seu próximo turno.
        </p>
    </p-card>
    <br>
    <p-card header="Confiança [^2]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Depois que outro jogador próximo de você fizer um teste, você pode gastar 1 Fabula Point e invocar
            um traço ou laço daquele jogador, permitindo que ele role um dado novamente ou ganhe um bônus.
            <br>
            Se você possuir um laço com aquele personagem, eles recuperam [ NH ] X 10 MP.
        </p>
    </p-card>
    <br>
    <p-card header="Persuasão [^2]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Sempre que fizer um teste para preencher ou retirar seções de um relógio de progresso,
            se o teste tiver sido relacionado à charme, diplomacia, enganação ou intimidação, você pode
            gastar [ NH ] X 20 MP. Se o fizer, preencha ou remova uma seção adicionar pra cada 20 MP gastos.
        </p>
    </p-card>
    <br>
    <p-card header="Aliado inesperado" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Você pode gastar 1 ação e 1 Fabula Point e escolher uma criatura <strong>não hostil</strong> que 
            possa te ouvir e compreender. Se o fizer, aquela criatura se torna um aliado enquanto você solicitar
            ou precisar de ajuda. Uma criatura não fará nada contra sua índole, laços ou traços.
        </p>
    </p-card>
</div>