<div class="container">
    <p-card header="Cavaleiro Sombrio" subheader="Vingador / Lâmina Obscura" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/classes/dark-knight.jpg">
        </ng-template>
        
        <p>
            Os cavaleiros sombrios são guerreiros poderosos e sombrios - devido à um passado trágico ou conexão com as sombras,
            eles desenvolveram afinidade com as trevas e a dor, e sacrificam sua força vital para alcançar objetivos.
        </p>
        <ng-template pTemplate="footer">
            Habilidade automática: Aumente seu HP em 5 pontos permanentemente.
            <br>
            Você pode fazer usar armas marciais de curta distância e armaduras marciais.
        </ng-template>
    </p-card>
    <br>
    <p-card header="Agonia [^5]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Depois de infligir dano em uma ou mais criaturas, se você tiver um Laço com pelo menos
            uma das criaturas, recupera [ NH ] X 2 de HP e MP.
        </p>
    </p-card>
    <br>
    <p-card header="Afinidade com as trevas" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Se você estiver em estado de crise, ganha resistência à dano de Trevas e Veneno.
        </p>
    </p-card>
    <br>
    <p-card header="Coração Sombrio" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Uma vez por cena, sempre que entrar em crise, pode escolher uma criatura presente.
            <br>
            Crie um laço de ódio com aquela criatura.
        </p>
    </p-card>
    <br>
    <p-card header="Lições dolorosas [^3]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Depois que uma criatura te der dano, você pode imediatamente e de graça realizar uma ação de Estudo.
            <br>
            Você ganha um bônus de [ NH ] para fazer essa ação.
        </p>
    </p-card>
    <br>
    <p-card header="Corte das sombras [^5]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Canalize sua força vital nos ataques. Você pode usar uma ação e performar um corte das sombras:
            <br>
            Role seu dado de [FOR] e perca aquela quantidade de HP. Depois disso, faça um ataque livre, cujo dano
            
            ganhará o bônus [ NH ] + resultado do dado. Este ataque é da propriedade Trevas e não pode mudar.
        </p>
    </p-card>
</div>