
<div class="container">
    <p-card header="Ladino" subheader="Ninja / Ladrão" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/classes/rogue.jpg">
        </ng-template>
        
        <p>
            Sejam eles criminosos, rebeldes ou espiões - Ladinos estão mais que dispostos
            à pagar o preço e fazer jogo sujo para atingir seus objetivos. Eles são, geralmente,
            espertos e elusivos e mesmo que alguns busquem apenas fama e dinheiro, outros lutam
            por um mundo melhor.
        </p>
        <ng-template pTemplate="footer">
            Habilidade automática: Aumente seu IP em 5 pontos permanentemente.
        </ng-template>
    </p-card>
    <br>
    <p-card header="Golpe Baixo [^5]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
           Se você acertar uma criatura com um ataque, e ela for o único alvo do ataque e 
           tiver uma ou mais condições de status, você dará dano extra igual à [ NH ] X efeitos 
           na criatura.
        </p>
    </p-card>
    <br>
    <p-card header="Esquiva [^3]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Enquanto você não tiver escudos ou armaduras equipadas, sua defesa aumentará
            em [ NH ].
        </p>
    </p-card>
    <br>
    <p-card header="Velocidade [^3]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            No início de um conflito, você pode gastar 10 MP.
            Se o fizer, escolha um e aplique no início do primeiro turno com bônus de [ NH ]:
        </p>
        <ul>
            <li>Você faz um ataque livre.</li>
            <li>Você faz uma ação de Impedir ou Objetivo.</li>
        </ul>
    </p-card>
    <br>
    <p-card header="Te vejo depois" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Você pode gastar 1 Fabula Point pra desaparecer da cena, e reaparecer quando quiser
            em uma cena diferente, mesmo na cena de um jogador diferente. Jogue a bomba de fumaça!
        </p>
    </p-card>
    <br>
    <p-card header="Dedos leves [^5]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Você pode usar uma ação e fazer um teste de [DES + VONT] contra a defesa mágica 
            de uma criatura que você pode ver. Se vencer o teste contra uma criatura fraca
            você recupera [ NH ] IP.
            <br>
            Se for uma criatura forte, o mestre te dará um item daquela criatura que vale
            [ nível da criatura X 30 ] (ou 50 se for um vilão).
            <br>
            Você ganha bônus igual á [ NH ].
        </p>
    </p-card>
</div>