<div class="container">

    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Aliados
            </ng-template>
            <span>Alguns efeitos afetam aliados. Isso significamente qualquer um que você considere lutando do seu lado, mas não você mesmo.</span> 
        </p-panel>
    </div>

    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Sempre arredondar pra baixo
            </ng-template>
            <span>Sempre que jogar dados ou somar atributos e precisar diminuir ou cortar números pela metade, arredonde para baixo para um mínimo de 0.</span> 
        </p-panel>
    </div>
</div>