<div class="container">
    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Atacar 
            </ng-template>
            <span>
                Você performar um ataque, seja à distância ou corpo-a-corpo.
                <br>
                Criaturas que estejam voando ou escondidas não podem ser atingidas por ataques comuns.
                <br>
                Para atacar, faça um teste de acordo com a arma ou magia. A dificuldade é a defesa do inimigo.
                <br>
                Caso acerte o dado, o dano será a MR.
                <br>
                Em caso de ataques multi(2), um único teste será necessário.
            </span> 
        </p-panel>
    </div>
    
    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Proteger 
            </ng-template>
            <span>
                Uma vez por turno apenas. Até o início do seu próximo turno:
                <ul>
                    <li>Você ganha resistência à todo tipo de dano.</li>
                    <li>Você ganha +2 de bônus em testes opostos.</li>
                    <li>Você pode proteger outra criatura e impedir inimigos de atacarem ela fisicamente.</li>
                </ul>
            </span> 
        </p-panel>
    </div>
    
    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Impedir 
            </ng-template>
            <span>
                Faça um teste de ND 10 contra um oponente. Se você passar, o oponente sofre Confusão, lentidão, fraqueza ou abalado.
            </span> 
        </p-panel>
    </div>
    
    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Inventário 
            </ng-template>
            <span>
                Você gasta IP para criar e imediatamente usar um item consumível.
            </span> 
        </p-panel>
    </div>
    
    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Objetivo 
            </ng-template>
            <span>
                Você faz algo para atingir um objetivo; Isso vai requerir um teste.
            </span> 
        </p-panel>
    </div>
    
    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Estudo 
            </ng-template>
            <span>
                Você tenta ganhar informação sobre algo. Isso vai requerir um teste.
            </span> 
        </p-panel>
    </div>
    
    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Habilidade 
            </ng-template>
            <span>
                Algumas habilidades e feitições vão necessitar que você use uma ação.
            </span> 
        </p-panel>
    </div>
</div>