<div class="container">
    <p-card header="Druída" subheader="Mago Selvagem / Metamorfo" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/classes/druid.jpg">
        </ng-template>
        
        <p>
            O druída pega seus poderes da alma de criaturas, animais e monstros. Ao manipular sua energia interna e mesclar
            com poderes de criaturas, eles adquirem ou até se transformam, ganhando novas habilidades e se fundindo
            à vida selvagem.
        </p>
        <ng-template pTemplate="footer">
            Habilidade automática: Aumente seu MP em 5 pontos permanentemente.
            <br>
            Você pode fazer rituais da disciplina Ritualismo.
        </ng-template>
    </p-card>
    <br>
    <p-card header="Consumir [^5]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Depois de infligir dano com um feitiço, se você tiver um foco arcano, adaga ou flail equipado
            você recupera [ NH ] X 2 MP.
        </p>
    </p-card>
    <br>
    <p-card header="Idioma Selvagem" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Você pode se comunicar com bestas, monstros e plantas.
        </p>
    </p-card>
    <br>
    <p-card header="Pathogenesis" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Sempre que você infligir dano à uma criatura usando uma habilidade de druída,
            as outras criaturas que são da mesma espécie daquela estão envenenadas.
        </p>
    </p-card>
    <br>
    <p-card header="Ritual selvagem" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Você pode fazer rituais da disciplina Selvagem.
            <br>
            Escolha [INT + VONT] ou [FOR + VONT]. Os rituais usam estes atributos para testes.
        </p>
    </p-card>
    <br>
    <p-card header="Instinto selvagem [^10]" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Sempre que uma criatura que seja besta, monstro ou planta usar uma habilidade,
            você pode imediatamente aprender aquela habilidade. Anote a habilidade a espécie da criatura.
            <br>
            Quando aprender uma habilidade assim, escolha [INT + VONT] ou [FOR + VONT]. Essa habilidade usará estes atributos.
            <br>
            Você pode aprender [ NH ] + 2 habilidades assim. Caso queira aprender mais, é necessário apagar uma.
        </p>
    </p-card>
</div>