.container {
    padding: 10px;
}

.rule-panel + .rule-panel {
    margin-top: 15px;
}

.class-img {
    width: 500px;
    max-width: 80%;
    margin-left: 11%;
}

:host ::ng-deep .p-panel-content {
    padding: 5px;
    background-color: #595959;
}

:host ::ng-deep .p-panel + .p-panel {
    margin-top: 15px;
}