<div class="container">
    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Funcionamento 
            </ng-template>
            <span>
                Fabula Points representam a capacidade dos jogadores de influenciar o destino do jogo e decidir pontos importantes da história.
                <br>
                <strong>Cada jogador começa o jogo com 3 fabula points - depois disso, deve ganhá-los in game!</strong>
            </span> 
        </p-panel>
    </div>

    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Ganhando Fabula Points 
            </ng-template>
            <span>
               Existem diversas formas de ganhar fabula points:
               <ul>
                    <li>No início da sessão, caso não tenha nenhum ponto, o jogador ganha 1 Fabula Point.</li>
                    <li>Sempre que o jogador rolar uma falha crítica.</li>
                    <li>Sempre que um vilão fizer uma entrada em uma cena, cada jogador ganha 1 fabula point.</li>
                    <li>Se um jogador chegar a 0 de HP e decidir se render, ganha 2 fabula points.</li>
                    <li>Cada vez que um jogador interpretar bem ou fizer um ato construtivo, ele ganha 1 fabula point.</li>
               </ul>
            </span> 
        </p-panel>
    </div>

    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Gastando Fabula Points 
            </ng-template>
            <span>
               Um jogador pode escolher gastar Fabula Points para:
               <ul>
                    <li>Alterar um detalhe da história ou adicionar um detalhe, gastando 1 ponto.</li>
                    <li>Invocar um laço ou um traço, gastando 1 ponto.</li>
                    <li>Usar uma habilidade. Custo varia de acordo com a habilidade.</li>
               </ul>
            </span> 
        </p-panel>
    </div>

    

    <div class="rule-panel">
        <p-panel >
            <ng-template pTemplate="header">
               Ultima Points 
            </ng-template>
            <span>
               Ultima points são a versão contrária - aquela usada pelos vilões em suas jogadas. Cabe ao mestre decidir a jogada.
            </span> 
        </p-panel>
    </div>
</div>