<div class="container">
    <br>
    <p-card header="v1.1" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            - Corrigida a exibição de (M) e (A) na página de equipamentos.
    </p-card>
    <br>
    <p-card header="v1.0" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p>
            Informações básicas pra jogo
        </p>
    </p-card>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <p-card header="Nero" subheader="The DM" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/nero.png">
        </ng-template>
        
        <p>
            Life is just a dream within a [...]
        </p>
    </p-card>
</div>
